<header id="masthead">
  <div class="contained contained--lg">
    <nav role="navigation" aria-label="Main Navigation" id="topnav" class="topnav grdGrid -middle -between">

      <div class="topnav__header grdCell">
        <div class="grdGrid -middle -between">
          <a href="/" id="brandingLogo" class="topnav__header__actionable grdCell">
            Branding Logo
          </a>
          <button type="button" class="topnav__hamburger">
            <span class="topnav__header__actionable grdCell">
              Menu &#9776;
            </span>
          </button>
        </div>{%- comment -%}End div.topnav__header{%- endcomment -%}
      </div>{%- comment -%}End div.grdGrid{%- endcomment -%}

      <div class="topnav__body grdCell -fill">
        <ul class="grdGrid -top -left">
          {%- for link in site.mainNavLinks -%}
            {%- if link.sublinks == blank or link.sublinks.size == 0 -%}
              <li class="topnav__body__outeritem grdCell topnav__body__actionable">
                <a href="{{ link.url }}">
                  {{ link.text }}
                </a>
              </li>
            {%- else -%}
              <li class="topnav__body__outeritem grdCell topnav__dropdown">
                <button class="topnav__dropdown__button">
                  <span class="topnav__body__actionable">
                    {{ link.text }}
                  </span>
                </button>
                <ul class="topnav__dropdown__items">
                  {%- for sublink in link.sublinks -%}
                    <li class="topnav__body__actionable">
                      <a href="{{ sublink.url }}">
                        {{ sublink.text }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </li>{%- comment -%}End li.topnav__dropdown{%- endcomment -%}
            {%- endif -%}
          {%- endfor -%}
        </ul>{%- comment -%}End ul.grdGrid.-top.-left{%- endcomment -%}
      </div>{%- comment -%}End div.topnav__body{%- endcomment -%}

	  </nav>
	  <div style="clear: both;"></div><!-- TO DO:  FIX ME-->
  </div>{%- comment -%}End div.contained{%- endcomment -%}
</header>